.header{
    width: 96.5vw;
    height: 12vh;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #111111;
    z-index: 2;
    justify-content: space-between;
    padding: 0 2vw;
}

.logo{
    width: 14vw;
}

.rightPart{
    display: flex;
    width: 16vw;
    justify-content: space-between;
    align-items: center;
}

.select{
    display: flex;
    align-items: center;
}

.select p{
   margin-right: 1vw;
    font-size: 14px;
    color: #A4A4A4
}