header {
    width: 96vw;
    height: 12vh;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #111111;
    z-index: 2;
    justify-content: space-between;
    padding: 0 2vw;
}

.logo {
    width: 14vw;
}

.rightPart {
    display: flex;
    width: 14vw;
    justify-content: space-between;
    align-items: center;
}

.user {
    width: 2vw;
}