.sideBar {
    width: 15vw;
    margin: 2vh 2vw 2vw 1vw;
    border-top: 1px #1f1f1f solid;
    padding: 2vh 0 0 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10vh;
}

.sideBar a {
    text-decoration: none;
    color: #e1f0f3;
}

.icon {
    width: 15px;
    margin-right: 0.7vw;
}

.pages a {
    display: flex;
    align-items: center;
    height: 6vh;
    padding-left: 1vw;
}

.pages a:hover {
    background-color: dodgerblue;
    border-radius: 5px;
    color: #e1f0f3;
}

.sideBar a[class='active'] {
    color: dimgrey;
}

.sideBar a[class='active']:hover {
    color: #e1f0f3;
}

.socials {
    width: 40px;
}

.credits {
    margin-top: 16vh;
    border-top: 1px #1f1f1f solid;
    padding: 3vh 0 0 1vw;
    width: 14vw;
    justify-content: space-between;
}

.credits p a {
    color: #6ee2f5;
}

.socialsWrap {
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
}

.footer {
    font-size: 13px;
    margin-top: 2vh;
}